<div class="reset-container">
<h2 class="reset-title">Resetear contraseña</h2>
<!-- <form 
  (ngSubmit)="onSubmit()" 
  #changePasswordForm="ngForm" 
  class="reset-form">
  <div>
    <label for="password">Nueva contraseña:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    />
  </div>
  <div>
    <label for="confirmPassword">Repite la contraseña:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
    />
  </div>
  <div class="actions">
    <button type="submit" color="primary" [disabled]="!changePasswordForm.valid">
      Resetear contraseña
    </button>
    <button type="button" (click)="goToLogin()">Regresar a login</button>
  </div>
</form> -->
<form
  (ngSubmit)="onSubmit()"
  #changePasswordForm="ngForm"
  class="reset-form"
>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nueva contraseña</mat-label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="6"
    />
    <mat-error *ngIf="changePasswordForm.submitted && !password">
      La contraseña es requerida
    </mat-error>
    <mat-error *ngIf="password && password.length < 6">
      La contraseña debe tener al menos 6 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Repite la contraseña</mat-label>
    <input
      matInput
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
    />
    <mat-error *ngIf="changePasswordForm.submitted && !confirmPassword">
      La confirmación es requerida
    </mat-error>
    <mat-error *ngIf="confirmPassword && confirmPassword !== password">
      Las contraseñas no coinciden
    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!changePasswordForm.form.valid || password !== confirmPassword"
    >
      Resetear contraseña
    </button>
    <button mat-button type="button" (click)="goToLogin()">
      Regresar a login
    </button>
  </div>
</form>

<div *ngIf="message" class="success">{{ message }}</div>
<div *ngIf="error" class="error">{{ error }}</div>
</div>