<app-header></app-header>
<div class="auth-container">
  <h2 class="auth-title">Recuperar contraseña</h2>

  <form (ngSubmit)="onSubmit()" #resetForm="ngForm" class="auth-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
      />
      <mat-error *ngIf="resetForm.submitted && !email">
        El correo es obligatorio
      </mat-error>
    </mat-form-field>
      

    <div class="actions">
      <button 
        mat-raised-button
        color="primary"
        type="submit" 
        [disabled]="!resetForm.valid">
        Recuperar contraseña
      </button>
      <button
        mat-stroked-button
        color="accent"
        type="button" 
        (click)="goToLogin()">
        Regresar a login
      </button>
    </div>
  </form>

  <!-- Mensajes de feedback -->
  <div *ngIf="message" class="feedback success">{{ message }}</div>
  <div *ngIf="error"  class="feedback error">{{ error }}</div>
</div>